services:
  mysql:
    image: mysql:8.0
    container_name: rickandmorty_mysql
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: rickandmorty_db
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      timeout: 20s
      retries: 10

  redis:
    image: redis:7-alpine
    container_name: rickandmorty_redis
    ports:
      - "6379:6379"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      timeout: 20s
      retries: 10

  app:
    build: .
    container_name: rickandmorty_api
    environment:
      DB_HOST: mysql
      DB_PORT: 3306
      DB_NAME: rickandmorty_db
      DB_USER: root
      DB_PASSWORD: rootpassword
      REDIS_HOST: redis
      REDIS_PORT: 6379
      PORT: 4000
    ports:
      - "4000:4000"
    depends_on:
      mysql:
        condition: service_healthy
      redis:
        condition: service_healthy
    volumes:
      - ./src:/app/src
      - ./database:/app/database
    command: sh -c "npx sequelize-cli db:migrate && npx sequelize-cli db:seed:all && npm start"

volumes:
  mysql_data:
